/*================================================================================
=======================================Dark=======================================
================================================================================*/
pre:not([nobackground]){background-color:rgb(18, 18, 18);border-radius:5px;max-height:500px;margin:5px 5px 5px 5px;overflow:auto;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
pre[nobackground]{border-radius:5px;max-height:500px;margin:5px 5px 5px 5px;overflow:auto;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
code{color:rgb(255, 255, 240);display:block;font-family:"Lucida Console", Monaco, monospace;font-size:14px;line-height:15px;padding:10px 0px 10px 10px;text-align:left;}
span#none{background-color:rgb(255, 216, 150);border-radius:2px;color:rgb(18, 18, 18);font-family:"Lucida Console", Monaco, monospace;font-size:12px;font-style:bold;height:auto;line-height:13px;padding:2px 2px 2px 2px;width:auto;}
span#comment{color:rgb(114, 191, 184);font-style:italic;}
span#selector{color:rgb(255, 216, 150);}
span#attribute{color:rgb(255, 158, 154);}
span#reserved{color:rgb(101, 125, 191);}
span#value{color:rgb(134, 157, 191);}
span#parameter{color:rgb(120, 106, 163);}
span#unit{color:rgb(255, 212, 197);}
/*================================================================================
======================================Plugins=====================================
================================================================================*/
/*Fold*/
span#block[block]{background-color:rgb(28, 28, 28);}
/*Number*/
span#numbers{background-color:rgb(28, 28, 28);border-right:1px solid rgb(80, 80, 80);color:rgb(80, 80, 80);display:block;float:left;font-size:12px;line-height:15px;margin:0px 10px 0px 0px;padding:10px 2px 10px 10px;text-align:right;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
span#coding{display:block;float:top;font-size:14px;line-height:15px;text-align:left;}
/*RegEx*/
span#regex{color:rgb(222, 169, 101);}
/*Select*/
code::-moz-selection{background-color:rgb(180, 180, 180);color:rgb(255, 255, 255);}
code::selection{background-color:rgb(180, 180, 180);color:rgb(255, 255, 255);}
span::-moz-selection{background-color:rgb(180, 180, 180);color:rgb(255, 255, 255);}
span::selection{background-color:rgb(180, 180, 180);color:rgb(255, 255, 255);}
a#url::-moz-selection{background-color:rgb(180, 180, 180);color:rgb(255, 255, 255);}
a#url::selection{background-color:rgb(180, 180, 180);color:rgb(255, 255, 255);}
/*URL*/
a#url:link{color:rgb(242, 231, 255);}
a#url:visited{color:rgb(242, 231, 255);}
a#url:hover{color:rgb(242, 231, 255);}
a#url:active{color:rgb(242, 231, 255);}
