/*----------------------------------------Salmon----------------------------------------*/
pre:not([nobackground]){background-color:rgb(62, 69, 76);color:rgb(255, 246, 229);font-family:"Lucida Console", Monaco, monospace;font-size:14px;height:auto;margin:5px;overflow:auto;padding:10px;text-align:left;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
pre[nobackground]{color:rgb(255, 246, 229);font-family:"Lucida Console", Monaco, monospace;font-size:14px;height:auto;margin:5px;overflow:auto;padding:10px;text-align:left;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
span#none{background-color:rgb(255, 127, 102);border-radius:2px;color:rgb(255, 246, 229);font-family:"Lucida Console", Monaco, monospace;font-size:12px;font-style:bold;height:auto;padding:2px 2px 2px 2px;width:auto;z-index:100;}
span#comment{color:rgb(159, 253, 193);font-style:italic;}
span#selector{color:rgb(255, 127, 102);}
span#attribute{color:rgb(201, 154, 151);}
span#reserved{color:rgb(49, 152, 197);}
span#value{color:rgb(126, 206, 253);}
span#parameter{color:rgb(147, 141, 241);}
span#unit{color:rgb(255, 216, 150);}
span#regex{color:rgb(158, 83, 74);}
/*----------------------------------------Plugin----------------------------------------*/
/*Number*/
table#numbering{border:none;border-collapse:collapse;}
table#numbering tr{line-height:14px;}
table#numbering tr td#number{border-right:1px solid rgb(129, 144, 158);color:rgb(129, 144, 158);margin:0px 8px 0px 2px;text-align:right;}
table#numbering tr td#code{padding:0px 0px 0px 4px;text-align:left;}
/*Select*/
code::-moz-selection{background-color:rgb(81, 90, 99);color:rgb(255, 255, 255);}
code::selection{background-color:rgb(81, 90, 99);color:rgb(255, 255, 255);}
span::-moz-selection{background-color:rgb(81, 90, 99);color:rgb(255, 255, 255);}
span::selection{background-color:rgb(81, 90, 99);color:rgb(255, 255, 255);}
/*URL*/
