/*================================================================================
=======================================Dark=======================================
================================================================================*/
pre:not([nobackground]).dark{background-color:rgb(18, 18, 18);border-radius:5px;max-height:500px;margin:5px 5px 5px 5px;overflow:auto;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
pre[nobackground].dark{border-radius:5px;max-height:500px;margin:5px 5px 5px 5px;overflow:auto;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
.dark code{color:rgb(255, 255, 240);display:block;font-family:"Lucida Console", Monaco, monospace;font-size:14px;line-height:15px;padding:10px 0px 10px 10px;text-align:left;}
.dark span#none{background-color:rgb(28, 28, 28);border-radius:2px;color:rgb(255, 255, 240);font-family:"Lucida Console", Monaco, monospace;font-size:12px;font-style:bold;height:auto;line-height:13px;padding:2px 2px 2px 2px;width:auto;}
.dark span#comment{color:rgb(114, 191, 184);font-style:italic;}
.dark span#selector{color:rgb(255, 216, 150);}
.dark span#attribute{color:rgb(255, 158, 154);}
.dark span#reserved{color:rgb(101, 125, 191);}
.dark span#value{color:rgb(134, 157, 191);}
.dark span#parameter{color:rgb(120, 106, 163);}
.dark span#unit{color:rgb(255, 212, 197);}
/*================================================================================
======================================Plugins=====================================
================================================================================*/
/*Editable*/
.dark code[contenteditable] * {color:rgb(255, 255, 240)!important;}
/*Fold*/
.dark span#block[block]{background-color:rgb(28, 28, 28);}
/*Number*/
.dark span#numbers{background-color:rgb(28, 28, 28);border-right:1px solid rgb(80, 80, 80);color:rgb(80, 80, 80);display:block;float:left;font-size:12px;line-height:15px;margin:0px 10px 0px 0px;padding:10px 2px 10px 10px;text-align:right;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
.dark span#coding{display:block;float:top;font-size:14px;line-height:15px;text-align:left;}
/*RegEx*/
.dark span#regex{color:rgb(222, 169, 101);}
/*Select*/
.dark code::-moz-selection{background-color:rgb(180, 180, 180);color:rgb(255, 255, 255);}
.dark code::selection{background-color:rgb(180, 180, 180);color:rgb(255, 255, 255);}
.dark span::-moz-selection{background-color:rgb(180, 180, 180);color:rgb(255, 255, 255);}
.dark span::selection{background-color:rgb(180, 180, 180);color:rgb(255, 255, 255);}
.dark a#url::-moz-selection{background-color:rgb(180, 180, 180);color:rgb(255, 255, 255);}
.dark a#url::selection{background-color:rgb(180, 180, 180);color:rgb(255, 255, 255);}
/*URL*/
.dark a#url:link{color:rgb(242, 231, 255);}
.dark a#url:visited{color:rgb(242, 231, 255);}
.dark a#url:hover{color:rgb(242, 231, 255);}
.dark a#url:active{color:rgb(242, 231, 255);}
/*================================================================================
======================================Salmon======================================
================================================================================*/
pre:not([nobackground]).salmon{background-color:rgb(62, 69, 76);border-radius:5px;max-height:500px;margin:5px 5px 5px 5px;overflow:auto;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
pre[nobackground].salmon{border-radius:5px;max-height:500px;margin:5px 5px 5px 5px;overflow:auto;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
.salmon code{color:rgb(255, 246, 229);display:block;font-family:"Lucida Console", Monaco, monospace;font-size:14px;line-height:15px;padding:10px 0px 10px 10px;text-align:left;}
.salmon span#none{background-color:rgb(72, 79, 86);border-radius:2px;color:rgb(255, 246, 229);font-family:"Lucida Console", Monaco, monospace;font-size:12px;font-style:bold;height:auto;line-height:13px;padding:2px 2px 2px 2px;width:auto;}
.salmon span#comment{color:rgb(159, 253, 193);font-style:italic;}
.salmon span#selector{color:rgb(255, 127, 102);}
.salmon span#attribute{color:rgb(201, 154, 151);}
.salmon span#reserved{color:rgb(49, 152, 197);}
.salmon span#value{color:rgb(126, 206, 253);}
.salmon span#parameter{color:rgb(147, 141, 241);}
.salmon span#unit{color:rgb(255, 216, 150);}
/*================================================================================
======================================Plugins=====================================
================================================================================*/
/*Editable*/
.salmon code[contenteditable] * {color:rgb(255, 246, 229)!important;}
/*Fold*/
.salmon span#block[block]{background-color:rgb(72, 79, 86);}
/*Number*/
.salmon span#numbers{background-color:rgb(72, 79, 86);border-right:1px solid rgb(129, 144, 158);color:rgb(129, 144, 158);display:block;float:left;font-size:12px;line-height:15px;margin:0px 10px 0px 0px;padding:10px 2px 10px 10px;text-align:right;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
.salmon span#coding{display:block;float:top;font-size:14px;line-height:15px;text-align:left;}
/*RegEx*/
.salmon span#regex{color:rgb(158, 83, 74);}
/*Select*/
.salmon code::-moz-selection{background-color:rgb(81, 90, 99);color:rgb(255, 255, 255);}
.salmon code::selection{background-color:rgb(81, 90, 99);color:rgb(255, 255, 255);}
.salmon span::-moz-selection{background-color:rgb(81, 90, 99);color:rgb(255, 255, 255);}
.salmon span::selection{background-color:rgb(81, 90, 99);color:rgb(255, 255, 255);}
.salmon a#url::-moz-selection{background-color:rgb(81, 90, 99);color:rgb(255, 255, 255);}
.salmon a#url::selection{background-color:rgb(81, 90, 99);color:rgb(255, 255, 255);}
/*URL*/
.salmon a#url:link{color:rgb(166, 138, 181);}
.salmon a#url:visited{color:rgb(166, 138, 181);}
.salmon a#url:hover{color:rgb(166, 138, 181);}
.salmon a#url:active{color:rgb(166, 138, 181);}
/*================================================================================
=====================================Vintage======================================
================================================================================*/
pre:not([nobackground]).vintage{background-color:rgb(48, 43, 47);border-radius:5px;max-height:500px;margin:5px 5px 5px 5px;overflow:auto;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
pre[nobackground].vintage{border-radius:5px;max-height:500px;margin:5px 5px 5px 5px;overflow:auto;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
.vintage code{color:rgb(105, 97, 83);display:block;font-family:"Lucida Console", Monaco, monospace;font-size:14px;line-height:15px;padding:10px 0px 10px 10px;text-align:left;}
.vintage span#none{background-color:rgb(58, 53, 57);border-radius:2px;color:rgb(105, 97, 83);font-family:"Lucida Console", Monaco, monospace;font-size:12px;font-style:bold;height:auto;line-height:13px;padding:2px 2px 2px 2px;width:auto;}
.vintage span#comment{color:rgb(155, 181, 143);font-style:italic;}
.vintage span#selector{color:rgb(255, 166, 0);}
.vintage span#attribute{color:rgb(76, 108, 121);}
.vintage span#reserved{color:rgb(158, 135, 181);}
.vintage span#value{color:rgb(255, 213, 150);}
.vintage span#parameter{color:rgb(255, 145, 103);}
.vintage span#unit{color:rgb(255, 224, 144);}
/*================================================================================
======================================Plugins=====================================
================================================================================*/
/*Editable*/
.vintage code[contenteditable] * {color:rgb(105, 97, 83)!important;}
/*Fold*/
.vintage span#block[block]{background-color:rgb(58, 53, 57);}
/*Number*/
.vintage span#numbers{background-color:rgb(58, 53, 57);border-right:1px solid rgb(88, 83, 87);color:rgb(88, 83, 87);display:block;float:left;font-size:12px;line-height:15px;margin:0px 10px 0px 0px;padding:10px 2px 10px 10px;text-align:right;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
.vintage span#coding{display:block;float:top;font-size:14px;line-height:15px;text-align:left;}
/*RegEx*/
.vintage span#regex{color:rgb(209, 85, 68);}
/*Select*/
.vintage code::-moz-selection{background-color:rgb(68, 63, 67);color:rgb(105, 97, 83);}
.vintage code::selection{background-color:rgb(68, 63, 67);color:rgb(105, 97, 83);}
.vintage span::-moz-selection{background-color:rgb(68, 63, 67);color:rgb(105, 97, 83);}
.vintage span::selection{background-color:rgb(68, 63, 67);color:rgb(105, 97, 83);}
.vintage a#url::-moz-selection{background-color:rgb(68, 63, 67);color:rgb(105, 97, 83);}
.vintage a#url::selection{background-color:rgb(68, 63, 67);color:rgb(105, 97, 83);}
/*URL*/
.vintage a#url:link{color:rgb(153, 108, 186);}
.vintage a#url:visited{color:rgb(153, 108, 186);}
.vintage a#url:hover{color:rgb(153, 108, 186);}
.vintage a#url:active{color:rgb(153, 108, 186);}
/*================================================================================
======================================Light=======================================
================================================================================*/
pre:not([nobackground]).light{background-color:rgb(221, 220, 197);border-radius:5px;max-height:500px;margin:5px 5px 5px 5px;overflow:auto;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
pre[nobackground].light{border-radius:5px;max-height:500px;margin:5px 5px 5px 5px;overflow:auto;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
.light code{color:rgb(149, 137, 118);display:block;font-family:"Lucida Console", Monaco, monospace;font-size:14px;line-height:15px;padding:10px 0px 10px 10px;text-align:left;}
.light span#none{background-color:rgb(211, 210, 187);border-radius:2px;color:rgb(149, 137, 118);font-family:"Lucida Console", Monaco, monospace;font-size:12px;font-style:bold;height:auto;line-height:13px;padding:2px 2px 2px 2px;width:auto;}
.light span#comment{color:rgb(92, 138, 83);font-style:italic;}
.light span#selector{color:rgb(97, 20, 39);}
.light span#attribute{color:rgb(106, 106, 97);}
.light span#reserved{color:rgb(50, 99, 86);}
.light span#value{color:rgb(29, 35, 38);}
.light span#parameter{color:rgb(65, 72, 99);}
.light span#unit{color:rgb(181, 143, 78);}
/*================================================================================
======================================Plugins=====================================
================================================================================*/
/*Editable*/
.light code[contenteditable] * {color:rgb(149, 137, 118)!important;}
/*Fold*/
.light span#block[block]{background-color:rgb(211, 210, 187);}
/*Number*/
.light span#numbers{background-color:rgb(211, 210, 187);border-right:1px solid rgb(181, 180, 157);color:rgb(181, 180, 157);display:block;float:left;font-size:12px;line-height:15px;margin:0px 10px 0px 0px;padding:10px 2px 10px 10px;text-align:right;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
.light span#coding{display:block;float:top;font-size:14px;line-height:15px;text-align:left;}
/*RegEx*/
.light span#regex{color:rgb(97, 59, 57);}
/*Select*/
.light code::-moz-selection{background-color:rgb(201, 200, 177);color:rgb(149, 137, 118);}
.light code::selection{background-color:rgb(201, 200, 177);color:rgb(149, 137, 118);}
.light span::-moz-selection{background-color:rgb(201, 200, 177);color:rgb(149, 137, 118);}
.light span::selection{background-color:rgb(201, 200, 177);color:rgb(149, 137, 118);}
.light a#url::-moz-selection{background-color:rgb(201, 200, 177);color:rgb(149, 137, 118);}
.light a#url::selection{background-color:rgb(201, 200, 177);color:rgb(149, 137, 118);}
/*URL*/
.light a#url:link{color:rgb(98, 79, 110);}
.light a#url:visited{color:rgb(98, 79, 110);}
.light a#url:hover{color:rgb(98, 79, 110);}
.light a#url:active{color:rgb(98, 79, 110);}
